[submodule "client/api"]
	path = client/api
	branch = main
	url = git@github.com:tigrisdata/tigris-api.git
[submodule "code-generator/code-generator-core/test-data"]
	branch = main
	path = code-generator/code-generator-core/test-data
	url = git@github.com:tigrisdata/tigris-test-data.git
