[submodule "client/api"]
	path = client/api
	branch = main
	url = git@github.com:tigrisdata/tigrisdb-api.git
[submodule "code-generator/core/test-data"]
	branch = main
	path = code-generator/core/test-data
	url = git@github.com:tigrisdata/tigrisdb-test-data.git
